<div class="footer" style="background-color:black;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4 col-12 mb-3 text-center">
       <br>
       <br>
        <div class="text-muted Copyrights">
          Copyright © 2018 electric shop
          <br> All Rights Reserved.
        </div>
      </div>
      <div class="col-lg-2">
      </div>
             <br>
       <br>
      <div class="col-lg-4 col-12 my-auto ml-auto text-center">
        <a id="facebook" href="#" target="_blank">
          <i class="fa fa-facebook-square fa-3x fa-fw" aria-hidden="true"></i>
        </a>
        <a id="twitter" href="#" target="_blank">
          <i class="fa fa-twitter-square fa-3x fa-fw" aria-hidden="true"></i>
        </a>
        <a id="instagram" href="#" target="_blank">
          <i class="fa fa-instagram fa-3x fa-fw" aria-hidden="true"></i>
        </a>
        <a id="linkedin" href="#" target="_blank">
          <i class="fa fa-linkedin-square fa-3x fa-fw" aria-hidden="true"></i>
        </a>
        <a id="youtube" href="#" target="_blank">
          <i class="fa fa-youtube-square fa-3x fa-fw" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
  </div>
</div>
