<app-navbar></app-navbar>
<section id="About" style="margin-bottom: 5%;">
  <h1 style="font-family: Ikaros;">About Us</h1>
  <h1 style="margin-top: 0%;">____</h1>
</section>
<div class="container">
  <div class="row">
    <img id="logo" class="col-lg-8" src="../assets/header2.jpg">
    <div class="col-lg-3" >
        <h2 style="text-align: center; color: grey;">The Electric Shop</h2>
        <p style="text-align: center;">we are an electric equipments shop aiming to make peopl's life easier and more comfortable with the least prices available on the market !  </p>

    </div>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>